body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* global.css */
@font-face {
  font-family: "InstrumentSans-Regular";
  src: url("/src/fonts/Instrument_Sans/static/InstrumentSans-Regular.ttf")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "InstrumentSans-SemiBold";
  src: url("/src/fonts/Instrument_Sans/static/InstrumentSans-SemiBold.ttf")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "InstrumentSans-Bold";
  src: url("/src/fonts/Instrument_Sans/static/InstrumentSans-Bold.ttf")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PermanentMarker-Regular";
  src: url("/src/fonts/Permanent_Marker/PermanentMarker-Regular.ttf")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: "InstrumentSans-Regular", sans-serif !important;
}

.gan-chi-title {
  font-family: "PermanentMarker-Regular", sans-serif !important;
  font-size: 0.9rem;
}
